@import url("https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300,700");
body {
  font-size: max(15px, 1.5vw);
  overflow: hidden; /* Hide scrollbars */
  background: #8e0e00; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #1f1c18,
    #8e0e00
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #1f1c18,
    #8e0e00
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 8vh; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  border-radius: 5px;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe56;
  margin: auto;
  padding: 10px;
  border: 1px solid #888;
  width: 90%;
  border-radius: 10px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-self: center;
}
#game-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
#mainbuttons {
  display: none;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  border: 1px solid black;
}
.divCards {
  width: min(30vw, 25vh);
  height: min(35vw, 20vh);
  margin: 2em;
  border-radius: 5px;
}
#deck {
  background-color: black;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#currentCard {
  background-color: rgb(240, 203, 92);
}
.playable {
  box-shadow: 0 0 10px 10px rgb(9, 255, 0), 0 0 20px 11px #0ff;
}
.threat {
  box-shadow: 0 0 5px 5px rgb(255, 0, 0), 0 0 10px 6px rgb(253, 176, 33);
}

#centralcards {
  display: none;
  flex-direction: row;
  justify-content: space-evenly;
}
.bold {
  font-weight: bold;
}
/* #mute {
  padding: 5px;
  position: absolute;
  right: 20;
  top: 30;
} */
.noselect {
  user-select: none;
}
#listPlayers {
  list-style: none;
  border: 1px solid black;
  background-color: white;
  padding: 0.2em;
  padding-left: 1em;
}

#listPlayers li {
  font-family: "Alice", serif;
}

#titreScore {
  padding: 3px;
}

.bodyAccueil {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
/* .startGame {
  width: 300px;
  height: 80px;
  border-radius: 5px;
  background: yellow;
  outline: none;
  font-size: 40px;
  border: 1px solid orange;
  color: orange;
  cursor: pointer;
} */
.itemCard {
  font-size: max(15px, 1.5vw);
  display: inline-block;
  width: min(220px, 40%);
  padding: 0.5em;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0px 5px 20px -10px #111111;
  position: relative;
  transition: 0.4s;
  background: linear-gradient(110deg, #fdbb2d 0%, #3a1c71 100%);
  box-shadow: 0px 5px 20px -10px #3a1c71;
}
.card__caption {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.65);
  padding: 0.2em;
  position: relative;
  border-radius: 3px;
}
.itemCardHeader {
  font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
  text-align: center;
  font-size: max(15px, 1.5vw);
  font-weight: 700;
  letter-spacing: 0.02em;
  margin-bottom: 1em;
}
.itemCardBody {
  flex: 1 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.broken {
  border: 2px solid grey;
  color: grey;
}
#modal-content-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.btn {
  font-size: max(15px, 1.5vw);
  font-weight: bold;
  padding: 0.5em;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  box-shadow: 0 1em #999;
  margin-bottom: 2em;
}

.btn:hover {
  background-color: #3e8e41;
}

.btn:active {
  background-color: #3e8e41;
  box-shadow: 0 0.5em #666;
  transform: translateY(4px);
}
.btn:disabled {
  background-color: rgb(112, 112, 112);
  box-shadow: 0 0.2em #666;
  transform: translateY(4px);
}
#info,
#listPlayers,
#divReadyCheck {
  background-color: rgb(180, 180, 180);
  font-size: 20px;
}
