#page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-self: center;
}
#game-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
#mainbuttons {
  display: none;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  border: 1px solid black;
}
.divCards {
  border-top: 1px solid grey;
}
#deck {
  background-color: black;
  color: white;
  cursor: pointer;
  border: 5px solid black;
  width: min(30vw, 25vh);
  height: min(35vw, 20vh);
}
#centralcards {
  display: none;
  flex-direction: row;
  justify-content: space-evenly;
}
.bold {
  font-weight: bold;
}
/* #mute {
  padding: 5px;
  position: absolute;
  right: 20;
  top: 30;
} */
.noselect {
  user-select: none;
}
#listPlayers {
  list-style: none;
  border: 1px solid black;
  background-color: white;
  width: 100vw;
  padding: 0;
}

#listPlayers li {
  font-family: "Alice", serif;
}

#titreScore {
  padding: 3px;
}

.bodyAccueil {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.startGame {
  width: 300px;
  height: 80px;
  border-radius: 5px;
  background: yellow;
  outline: none;
  font-size: 40px;
  border: 1px solid orange;
  color: orange;
  cursor: pointer;
}
