.btn {
  display: none;
}
#page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-self: center;
}
.divCards {
  border-top: 1px solid grey;
}
#deck {
  background-color: black;
  color: white;
  cursor: pointer;
}
#centralcards {
  display: none;
}

#mute {
  padding: 5px;
  position: absolute;
  right: 20;
  top: 30;
}
.noselect {
  user-select: none;
}
#listPlayers {
  list-style: none;
  position: absolute;
  top: 30%;
  right: 20px;
  border: 1px solid black;
  background-color: white;
  width: 150px;
  height: 50vh;
  overflow: scroll;
  padding: 0;
}

#listPlayers li {
  font-family: "Alice", serif;
}

.divScore {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  background: white;
  position: absolute;
  right: 40;
  top: 70;
  border-radius: 3px;
}
#titreScore {
  padding: 3px;
}

.bodyAccueil {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.startGame {
  width: 300px;
  height: 80px;
  border-radius: 5px;
  background: yellow;
  outline: none;
  font-size: 40px;
  border: 1px solid orange;
  color: orange;
  cursor: pointer;
}
